* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
body {
    background-color: gray;
}
h1{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    text-align: center;
    margin-top: 150px;

}
#list {
    color: white;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    margin:auto;
    margin-top: 20px;
    padding: 70px;
    border: 1px solid white;
    
}

#list tbody tr td {
    padding: 3px 20px;
  }

#list thead tr th{
    padding-right: 65px;
}